// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


//----------------------------------------------------------
//------------------     model 模态框
//----------------------------------------------------------
.z-modal{
    border-radius: 0;
    background-image: url('../img/default1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    .z-header{
        border-bottom: 0;
    }
    .z-footer{
        border-top: 0;
    }
}
